.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;

  &__occurrents {
    height: 75px;
    overflow: auto;

    &-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      text-align: center;
      gap: 3px;

      &-element {
        cursor: pointer;
        background-color: #2f2f2f;
        border-radius: 5px;
        transition: 300ms;

        &:hover {
          background-color: #3f3f3f;
        }
      }
    }
  }

  &__day {
    height: 150px;
    background-color: #1f1f1f;
    border: 2px solid transparent;
    border-color: #797979;
    border-radius: 3px;
    padding: 10px;
    transition: 300ms;

    &-number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 33px;
      margin-bottom: 15px;
    }

    &:hover {
      border-color: #4ebc3b;
    }

    &--is-weekend {
      color: #5d5d5d;
    }

    &--is-current {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 33px;
      border: 1px solid #fff;
      background-color: #10893e;
      border-radius: 3px;
      font-weight: 700;
    }
  }
}
