.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;

  &__button-add {
    cursor: pointer;
    background-image: url('../img/green-add-button-12023.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    transition: 300ms;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__month-toggle {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 20px;

    &-left {
      cursor: pointer;
      background-image: url('../img/right.ico');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: scaleX(-1);
      width: 15px;
      height: 20px;
    }

    &-right {
      cursor: pointer;
      background-image: url('../img/right.ico');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 15px;
      height: 20px;
    }
  }
}