.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #0000007c;
  width: 100vw;
  height: 100vh;
  color: #fff;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: #1f1f1f;
    height: 500px;
    padding: 30px;
    border: 2px solid #fff;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-close {
      cursor: pointer;
      height: 15px;
      width: 15px;
      background: url('../img/cross.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}